[project]
	description = A simple online pizzeria with pages for selling pizza and managing information. Main focus has been on front end, fancy features and better user experience
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Majid Khorsandi Aghai (majidkhorsandi)
[access "refs/for/refs/*"]
	read = group user/Majid Khorsandi Aghai (majidkhorsandi)
	push = group user/Majid Khorsandi Aghai (majidkhorsandi)
	label-Code-Review = -2..+2 group user/Majid Khorsandi Aghai (majidkhorsandi)
	label-Verified = -1..+1 group user/Majid Khorsandi Aghai (majidkhorsandi)
	rebase = group user/Majid Khorsandi Aghai (majidkhorsandi)
	removeReviewer = group user/Majid Khorsandi Aghai (majidkhorsandi)
	submit = group user/Majid Khorsandi Aghai (majidkhorsandi)
[access "refs/heads/*"]
	read = group user/Majid Khorsandi Aghai (majidkhorsandi)
	create = group user/Majid Khorsandi Aghai (majidkhorsandi)
	push = +force group user/Majid Khorsandi Aghai (majidkhorsandi)
	pushMerge = group user/Majid Khorsandi Aghai (majidkhorsandi)
[access "refs/tags/*"]
	push = +force group user/Majid Khorsandi Aghai (majidkhorsandi)
	pushTag = group user/Majid Khorsandi Aghai (majidkhorsandi)
	pushSignedTag = group user/Majid Khorsandi Aghai (majidkhorsandi)
